@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
}
html {
  font-size: 62.5%; /* makes 1rem 10px */
}
body {
  font-size: 1.6em; /* default font of 16px */
  line-height: 1.3;
  @apply text-darkOne;
}
/* fonts */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4,
li,
label,
input,
textarea,
select,
p {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
ol,
ul {
  padding-left: 2em;
}
a {
  text-decoration: underline;
}
hr {
  @apply border-darkOne;
}
